{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Set a new password" %} · Rollcall{% endblock %}

{% block content %}
  {% if validlink %}
    <h1>{% translate "Set a new password" %}</h1>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">{% translate "Change my password" %}</button>
    </form>
  {% else %}
    <h1>{% translate "This link is invalid or has expired" %}</h1>
    <p><a href="{% url 'accounts:password_reset' %}">{% translate "Request a new reset link" %}</a></p>
  {% endif %}
{% endblock %}
